# Python cache files
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*$.egg-info/
src/quick_scheduler.egg-info/
src/quick_scheduler.egg-info/SOURCES.txt

# pytest cache
.pytest_cache/

# Database files
*.db

# Log files
logs/

# Environment
.env
.venv
venv/
ENV/

# private config
config_private.yaml