# Python cache files
__pycache__/
*.py[cod]
*$py.class

# pytest cache
.pytest_cache/

# Database files
*.db

# Log files
logs/

# Environment
.env
.venv
venv/
ENV/

# private config
config_private.yaml